
.hero img{
    height: 50%;
    width: 50%;
    margin-top: 20% ;background-color: rgb(75, 139, 223);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding: 10%;
    border-top: 20%;
    border-bottom: 20%;background-color: rgb(116, 173, 238)

}



}